.App {
  margin: 0 3rem;
}

.languageTitle {
  color: darkslategray;
}

#title {
  text-align: center;
  margin-top: 1rem;
  color: darkslategray;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgrey;
}
